/* Cuerpo de la pagina con menu de opciones de productos */
.box{
    width: 20rem;
    height: 25rem;
    padding: 0;
    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.box img{
    width: 100%;
    height: 80%;
    object-fit: fill; /* valor por defecto */
    object-fit: cover;
    object-position: 65% 10%;
    border-radius: 1rem 1rem 0 0;
}
.box p{
    text-align: center;
    position: relative;
    bottom: 6px;
    font-weight: bolder;
    text-transform: uppercase;
    bottom: 1rem;
    margin: 0;
}
.box h4{
    color: whitesmoke;
    top: -10rem;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
    transition: all 1s ease;
}
.products{
    display: flex;
    padding-left: 15%;
    margin: 0.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
}
.box{
    transition: border-color 0.5s ease-in, box-shadow 0.5s ease-in, transform 0.5s ease-in;
}
/* Efecto al holdear los productos */
.box:hover{
    box-shadow: 3px 3px 5px black;
    transform: scale(1.03);
    cursor: pointer;
}
.box:hover h4{
    color: black;
}
.box:active{
    filter:opacity(0.6);
}
.box h4::before{
    content: "";
    position: absolute;
    bottom: 2.8rem;
    width: 0;
    height: 0.25rem;
    background-color: black;
    transition: width .5s ease, left .5s ease, right .5s ease;
    left: 50%;
}
.box h4:hover::before{
    width: 69%;
    left: 14%;
}
/**/
/*Tabla de productos**/
/**/
.products-seccion{
    width: 20rem;
    height: 20rem;
    position:relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.products-table{
    margin: 1rem black solid;
    position:absolute;
    display: none;
}
.products-table table{
    text-align: center;
}
.products-table td img{
    width: 5rem;
    height: 8rem;
}
